body {
  background-color: #FF9376;
  position: absolute;
  width: 375px;
  height: 812px;
}

/* here are the text styles used in this website */

.large-text {
  font-family: Farro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  font-feature-settings: 'zero' on;
  color: #FEF2EA;
}

.mid-text {
  font-family: Farro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-feature-settings: 'zero' on;

  color: #FEF2EA;
}

.small-text {
  font-family: Farro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  font-feature-settings: 'zero' on;

  color: #FEF2EA;
}

/* here are the positionings */

#main-title {
  position: absolute;
  width: 147px;
  height: 72px;
  left: 56px;
  top: 92px;
}

#home-description {
  position: absolute;
width: 263px;
height: 244px;
left: 56px;
top: 212px;
}

#quiz-start {
  position: absolute;
width: 239px;
height: 29px;
left: 68px;
top: 597px;

}

#skip {
  position: absolute;
width: 107px;
height: 51px;
left: 134px;
top: 699px;
}

#slider {
  position: absolute;
  width: 300px;
  height: 44px;
  left: 37px;
  top: 439px;
}

#question {
  position: absolute;
width: 312px;
height: 223px;
left: 33px;
top: 124px;
}

.previous-arrow {
  position: absolute;
  width: 42px;
  height: 46px;
  left: 21px;
  top: 619px;
}

.forward-arrow{
  position: absolute;
  width: 42px;
  height: 46px;
  left: 311px;
  top: 619px;
}

.answer {
  position: absolute;
width: 214px;
height: 38px;
left: 80px;
top: 494px;

}

/*results page*/
#results-final{
  position: absolute;
width: 302px;
height: 291px;
left: 33px;
top: 101px;
}

/* slider style is defined here */

.slidecontainer {
  position: absolute;
  width: 300px;
  height: 44px;
  left: 37px;
  top: 439px;
}

/* The slider itself */

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#slider-value {
  font-weight:bold;
  color:red;
  font-size: 100px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
